/*Creado por Jaime y Arthur*/
* {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
title,script {
  display: none;
}
body{
  
}
/*Header*/

header{
  padding: 0.1% 2%;
  flex-direction: column;
}
section.topbar {
  flex-direction: row;
  justify-content: space-between;
    
}
span.idioma {
  flex-direction: row;
}
.idioma button{
    background: #fff;
    border: #fff;
    margin: 0 8%;
}
.idioma button:hover{
  background: rgb(245, 240, 240);
  border: rgb(141, 128, 128) solid 1px;
  margin: 0 8%;
}
.secundario h1 {
  flex-direction: row;
}
.secundario form {
  flex-direction: row;
}
.secundario h1 strong {
  padding: 5%;
  font-size: 3em;
}
.secundario h1,.secundario figure,.secundario form {
  margin: 0 10px;
}
nav.menu {
  margin: 0px auto 20px;
}
.menu li {
  margin: 0 20px;
}
.menu a:hover {
  color: blue;
}
.secundario h1 {
  flex-direction: row;
  align-items: center;
  font-size: 24px;
}
section.secundario {
  margin: 10px 0;
  border-bottom: 1.5px solid;
}
.secundario form {
  align-items: center;
}

.menu a {
  font-size: 18px;
  text-decoration: none;
}

/*Fin Header*/
body, main{
	flex-direction: column;
}
/***************************Contenedor********************************/
.contenedor{
	width: 100%;
}
.columna{
	width: 100%;
	margin: 20px;
}
.contenedor, .noticias{
    flex-direction: row;
}
aside{
    background-color: brown;
    height: 100vh;
    width: 500px;
}
/*****************************Slider**********************************/
.slider{
	position: relative;
	width: 100%;
	height: 500px;
	list-style: none;
	display: flex;
	justify-content: center;
    align-items: flex-end;
	flex-direction: row;
	box-sizing: border-box;
}
.slider figure{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.7s;
	opacity: 0;
}
.slider img{
	width: 100%;
	height: 100%;
}
.slider input[type="radio"]{
	position: relative;
	z-index: 10;
	margin: 0 10px;
    bottom: 10px;
    
}
.slider figcaption{
	position: absolute;
	z-index: 20;
	color: white;
	width: 100%;
	bottom: 40px;
	background-color: rgba(0,0,0,0.8);
}
.slider figcaption p{
	width: 100%;
	font-size: 25px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.slider input[type="radio"]:checked ~ figure{
	opacity: 1;
}
/***************************Noticias**********************************/
.noticias{
	width: 100%;
	justify-content: space-between;
	margin-top: 20px;
}
.noticias .nota{
	width: 300px;
	height: 200px;
	position: relative;
}
.noticias .nota figure, .noticias .nota a, .noticias .nota img{
	width: 100%;
	height: 100%;
}
.noticias .nota p{
	position: absolute;
	text-align: center;
	bottom: 0px;
	color: white;
	padding: 5px;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	justify-content: center;
}
/***********************Footer*********************************/
footer{
	background-color: rgba(23, 23, 24, 0.925);
}
footer .info, footer .copyrigth p{
	width: 100%;
	flex-direction: row;
	color: white;
	justify-content: center;
}
footer .info a{
	color: white;
	text-align: center;
	text-decoration: none;
}
footer .info a{
	margin: 5px;
}
footer .copyrigth p{
	margin: 10px 0px;
}

/***********************Media Query**************************************/
@media screen and (min-width: 780px) {

	.hamburguesa{
	  display: none;
	}
	nav{
	  display: flex;
	  flex-direction: row;
  }
	nav.menu ul { 
	  flex-direction: row;
	  align-items: center;
  }
  .secundario nav {
	  justify-content: center;
  }
  nav.menu {
	justify-content: center;
  }
  .secundario textarea {
	border: #000;
	border-bottom: 1px solid;
	height: 20px;
	align-items: center;
	margin-right: 1%;
	margin-left: 30%;
	resize: none;
  }
	}