/*Creado por Jaime y Arthur*/
* {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  }
  title,script {
  display: none;
  }
  /*Header*/
  
  header{
  padding: 1% 2%;
  flex-direction: column;
  background: rgb(23 23 24 / 0.80);
  }
  .sticky {
    position: fixed;
    top: 0;
    right: 0;
  left: 0;
  z-index: 100;
}
  section.topbar {
  flex-direction: row;
  justify-content: space-between;
  color: #cdcdcd; 
  border-bottom: 1px solid #fff; 
  }
  span.idioma {
  flex-direction: row;
  }
  .idioma button{
    background: no-repeat;
    border: none;
    margin: 0 8%;
    color: #cdcdcd;
  }
  .idioma button:hover{
    background: #fff;
    border: rgb(141, 128, 128) solid 1px;
    margin: 0 8%;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .secundario h1 {
  flex-direction: row;
  }
  .secundario form {
  flex-direction: row;
  width: auto;
  justify-content: flex-end;
  }
  .secundario h1 strong {
  padding: 5%;
  font-size: 3em;
  }
  .secundario h1,.secundario figure,.secundario form {
  margin: 0 10px;
  }
  nav.menu {
  margin: 0px auto;
  }
  .menu li {
  padding: 0 10px;
  }

  .menu li:hover {
    background: #fff;
    border-radius: 5px;
}
.menu a:hover {
    color: #fff;}
  .secundario h1 {
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  }
  section.secundario {
  flex-direction: row;
  margin: 10px 0;
  padding-bottom: 10px;
    border-bottom: 1.5px solid #fff;
  }
  .secundario form {
  align-items: center;
  }
  
  .menu a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color:#cdcdcd;
  font-size: 22px;
  font-weight: bold;
  }
  li.gamming:hover {
    background: #DD340B;
}
li.politica:hover {
    background: #4C0CCD;
}
li.tecnologia:hover {
    background: #8C12CD;
}
li.turismo:hover {
    background: #F8890C;
}
li.educacion:hover {
    background: #02C8CF;
}
li.deporte:hover {
    background: #13D807;
}

  